:root {
  --color-accent: #FF5555;
  --color-accent-hovered: #FD8686;
  --color-disabled: #D9D9D9;
  --link-hovered:#208FBF;
  --color-hint: #7E7E7E;
  --color-default: #000000;
  --color-background: #FFFFFF;
  --color-star-icon: #FF9432;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

