<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Repos list</title>
</head>
<body>
    <div class="repos-list">

        <div class="searchbar">
            <input class="searchbar__input" type="text" placeholder="Введите название организации">
            <button class="searchbar__btn">
                <img src="./icons/SearchButton.svg" alt="search icon">
            </button>
        </div>
        <div class="repos-list__grid-wrapper">
            <div class="repo">
                <div class="repo__avatar">
                    <span class="repo__avatar__letter">K</span>
                </div>
                <div class="repo__info">
                    <div class="repo__info__title">kts-school-frontend</div>
                    <a href="#" class="repo__info__author-link">ktsstudio</a>
                    <div class="repo__other-info">
                        <div class="repo__stars">
                            <img class="repo__stars__img" src="./icons/Star.svg" alt="star icon">
                            <span class="repo__stars__number">123</span>
                        </div>
                        <div class="repo__other-info__updates">
                            Updated 21 Jul
                        </div>
                    </div>

                </div>
            </div>
            <div class="repo">
                <div class="repo__avatar">
                    <span class="repo__avatar__letter">K</span>
                </div>
                <div class="repo__info">
                    <div class="repo__info__title">kts-school-frontend</div>
                    <a href="#" class="repo__info__author-link">ktsstudio</a>
                    <div class="repo__other-info">
                        <div class="repo__stars">
                            <img class="repo__stars__img" src="./icons/Star.svg" alt="star icon">
                            <span class="repo__stars__number">123</span>
                        </div>
                        <div class="repo__other-info__updates">
                            Updated 21 Jul
                        </div>
                    </div>

                </div>
            </div>
            <div class="repo">
                <div class="repo__avatar">
                    <span class="repo__avatar__letter">K</span>
                </div>
                <div class="repo__info">
                    <div class="repo__info__title">kts-school-frontend</div>
                    <a href="#" class="repo__info__author-link">ktsstudio</a>
                    <div class="repo__other-info">
                        <div class="repo__stars">
                            <img class="repo__stars__img" src="./icons/Star.svg" alt="star icon">
                            <span class="repo__stars__number">123</span>
                        </div>
                        <div class="repo__other-info__updates">
                            Updated 21 Jul
                        </div>
                    </div>

                </div>
            </div>
            <div class="repo">
                <div class="repo__avatar">
                    <span class="repo__avatar__letter">K</span>
                </div>
                <div class="repo__info">
                    <div class="repo__info__title">kts-school-frontend</div>
                    <a href="#" class="repo__info__author-link">ktsstudio</a>
                    <div class="repo__other-info">
                        <div class="repo__stars">
                            <img class="repo__stars__img" src="./icons/Star.svg" alt="star icon">
                            <span class="repo__stars__number">123</span>
                        </div>
                        <div class="repo__other-info__updates">
                            Updated 21 Jul
                        </div>
                    </div>

                </div>
            </div>
            <div class="repo">
                <div class="repo__avatar">
                    <span class="repo__avatar__letter">K</span>
                </div>
                <div class="repo__info">
                    <div class="repo__info__title">kts-school-frontend</div>
                    <a href="#" class="repo__info__author-link">ktsstudio</a>
                    <div class="repo__other-info">
                        <div class="repo__stars">
                            <img class="repo__stars__img" src="./icons/Star.svg" alt="star icon">
                            <span class="repo__stars__number">123</span>
                        </div>
                        <div class="repo__other-info__updates">
                            Updated 21 Jul
                        </div>
                    </div>

                </div>
            </div>
            <div class="repo">
                <div class="repo__avatar">
                    <span class="repo__avatar__letter">K</span>
                </div>
                <div class="repo__info">
                    <div class="repo__info__title">kts-school-frontend</div>
                    <a href="#" class="repo__info__author-link">ktsstudio</a>
                    <div class="repo__other-info">
                        <div class="repo__stars">
                            <img class="repo__stars__img" src="./icons/Star.svg" alt="star icon">
                            <span class="repo__stars__number">123</span>
                        </div>
                        <div class="repo__other-info__updates">
                            Updated 21 Jul
                        </div>
                    </div>

                </div>
            </div>
            <div class="repo">
                <div class="repo__avatar">
                    <span class="repo__avatar__letter">K</span>
                </div>
                <div class="repo__info">
                    <div class="repo__info__title">kts-school-frontend</div>
                    <a href="#" class="repo__info__author-link">ktsstudio</a>
                    <div class="repo__other-info">
                        <div class="repo__stars">
                            <img class="repo__stars__img" src="./icons/Star.svg" alt="star icon">
                            <span class="repo__stars__number">123</span>
                        </div>
                        <div class="repo__other-info__updates">
                            Updated 21 Jul
                        </div>
                    </div>

                </div>
            </div>
            <div class="repo">
                <div class="repo__avatar" style="background-image: url('apelsin.jpg')">
                    <span class="repo__avatar__letter" >K</span>
                </div>
                <div class="repo__info">
                    <div class="repo__info__title">kts-school-frontend</div>
                    <a href="#" class="repo__info__author-link">ktsstudio</a>
                    <div class="repo__other-info">
                        <div class="repo__stars">
                            <img class="repo__stars__img" src="./icons/Star.svg" alt="star icon">
                            <span class="repo__stars__number">123</span>
                        </div>
                        <div class="repo__other-info__updates">
                            Updated 21 Jul
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>